@model ConsultaxMVC.Models.AboutStatisticCount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AboutStatisticCount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.countNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.countNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleRight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
