@model OurTeamPages
<div class="page-header">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">Team</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Team</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="wpb_row row-fluid section-padd">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-12">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="section-head ">
                            <h6><span>Leadership</span></h6>
                            <h2 class="section-title">We are a great family</h2>
                        </div>

                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse nostra nibh, sociosqu hendrerit posuere habitasse at mollis
                                    <br> nullam platea arcu. Platea semper nostra nisl varius mi ridiculus condimentum sagittis.
                                </p>
                                <div class="empty_space_30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            @foreach (var oup in Model.TeamLeaderShips)
             {
                <div class="wpb_column column_container col-sm-12 col-md-6">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="member-item-3 radius">
                                <div class="avatar">
                                    <img src="@oup.Photo" alt="">
                                </div>
                                <div class="mem-info">
                                    <h5>@oup.Name<span class="font12 normal">@oup.WorkName</span></h5>
                                    <div class="line"></div>
                                    <p>@oup.Title</p>
                                    <div class="social-mem">
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="empty_space_30 lg-hidden"></div>
                        </div>
                    </div>
                </div>

             }
        </div>
    </div>
</section>

<section class="wpb_row row-fluid section-padd no-top">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-12">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="section-head ">
                            <h6><span>Our Experts</span></h6>
                            <h2 class="section-title">Our team of leading experts</h2>
                        </div>
                        <div class="empty_space_30"></div>
                    </div>
                </div>
            </div>
            @foreach (var tls in Model.TeamExperts)
             {
                <div class="wpb_column column_container col-sm-6 col-md-3">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="member-item radius">
                                <div class="avatar">
                                    <img src="@tls.Photo" alt=""> <span class="overlay"></span>
                                    <div class="social-mem">
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div>
                                <div class="mem-info">
                                    <h5>@tls.Name<span class="font12 normal">@tls.WorkName</span></h5>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

             }
        </div>
    </div>
</section>

<section class="wpb_row row-fluid section-padd no-top">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-12">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="row wpb_row inner row-fluid cta-section row-has-fill">
                            <div class="wpb_column column_container col-sm-12 col-md-9">
                                <div class="column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="section-head mobile-center text-light">
                                            <h6><span>Join our team</span></h6>
                                            <h2 class="section-title">You want to join us ?</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column column_container col-sm-12 col-md-3">
                                <div class="column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="empty_space_12 sm-hidden"></div>
                                        <div class="text-right mobile-center light-hover">
                                            <a class="btn" href="contact.html">JOIN NOW</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>